header{
    background-color: lightskyblue;
    display: flex;

}
.btn_genre {
    position: relative;
    display: inline-block;

}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;

}
.btnSearch {

    border-radius:0 5px 5px 0;

}


.searchInput {
    width: 300px;
    border: solid 1px;
    border-radius: 5px ;
    padding: 10px 15px;
}
.btn:hover {
    background-color: #0056b3;
}

/* Стилі для випадаючого списку */
.listGenres {
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

/* Показувати список при наведенні на кнопку Genre */
.btn_genre:hover .listGenres {
    display: block;
}

.listGenres li {
    padding: 8px 12px;
    cursor: pointer;
}

.listGenres li:hover {
    background-color: #ddd;
}
.menu {
    display: flex;
    justify-content: space-around;
   align-items: center;
    margin-bottom: 15px;
}