.moviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
gap: 10px;
}

.movieCard {
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #dde8ec;
    border-radius: 10px;

}